<div class="container py-5 h-100">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
      <div class="card bg-dark text-white" style="border-radius: 1rem;">
        <div class="card-body p-5 text-center">

          <div class="mb-md-3 mt-md-4">

            <h2 class="fw-bold mb-2 text-uppercase">Registration</h2>
            <p class="text-white-50 mb-5">Please enter your information!</p>

            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

              <div class="form-outline form-white mb-4">
                <input formControlName="name" type="text" id="typeUsernameX" class="form-control form-control-lg"/>
                <label class="form-label" for="typeUsernameX">Name</label>
                <p *ngIf="this.loginForm.get('name')?.invalid && this.loginForm.get('name')?.touched">
                  <small class="text-danger">Name is required</small>
                </p>
              </div>

              <div class="form-outline form-white mb-4">
                <input formControlName="password" type="text" id="typePasswordX" class="form-control form-control-lg"/>
                <label class="form-label" for="typePasswordX">Password</label>
                <p *ngIf="this.loginForm.get('password')?.invalid && this.loginForm.get('password')?.touched">
                  <small class="text-danger">Password is required</small>
                </p>
              </div>

              <button [disabled]="loginForm.invalid" class="btn btn-outline-light btn-lg px-5" type="submit">Register</button>

            </form>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>

