<form class="form-control "[formGroup]="myForm">
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Friends</mat-label>
      <mat-select  multiple  formControlName="selectedFriends">
        <mat-option *ngFor="let user of users" [value]="user._id">{{user.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <button class="mx-2" type="button" mat-raised-button color="primary" (click)="onNoClickFriends()">Edit</button>
    <button class="mx-2" type="button" mat-raised-button color="primary" (click)="close()">Close</button>

  </div>
</form>
